<div class='col-md-6'>
  <label for="country">Country:</label>
  <select class="browser-default custom-select" id="country" (change)="onCountryChange($event.target.value)">
    <option value="">-- Select Country --</option>
    <option *ngFor="let country of countries$ | async" [value]="country.name">{{ country.name}}</option>
  </select>

</div>
