<div class="col-4">
  <label for="region">Region:</label>
  <select id="region" (change)="onRegionChange($event.target.value)">
    <option value="">-- Select Region --</option>
    <option *ngFor="let region of regions$ | async" [value]="region">{{ region }}</option>
  </select>
</div>
