<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Capital</th>
      <th>Population</th>
      <th>Currencies</th>
      <th>Flag</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="(selectedCountry$ | async) as selectedCountry">
      <td>{{ selectedCountry.name }}</td>
      <td>{{ selectedCountry.capital }}</td>
      <td>{{ selectedCountry.population }}</td>
      <td>
        <!-- <ul> -->
          <p *ngFor="let currency of selectedCountry.currencies">{{ currency.name }}</p>
        <!-- </ul> -->
      </td>
      <td>
        <img [src]="selectedCountry.flags.svg" alt="Flag" width="100" height="auto">
      </td>
    </tr>
  </tbody>
</table>
