<div class="container">
  <h1>Regions and Countries</h1>

  <div class="row"> 
    <div class="col-4">
      <app-regions></app-regions>
    </div>
    <div class="col-4">
      <app-countries></app-countries>
    </div>
  </div>
  <hr/>
  <div class="row">
    <app-country-details></app-country-details>
  </div>
</div>